
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProducts</title>
</head>
<body>
    
    <div>
        <div class="center">
            <a class="Category" href="~/Product/GetProducts/">Все</a>
            @foreach (var i in ViewBag.Categories)
            {
                <a class="Category" href="~/Product/GetProducts/@i.Id">@i.Name</a>
            }
        </div>

        @foreach (var i in ViewBag.Products)
        {
    <div class="block">
        <span>Категория:</span><span>@i.Category.Name</span><br />
        <span>Имя:</span><span>@i.Name</span><br />
        <span>Цена:</span><span>@i.Price</span><br />
        <span>Производитель:</span><span>@i.Producer.Name</span><br />
        <a href="~/Product/GetProduct/@i.Id"><span class="stroka">Просмотр</span></a>
        <a href="~/AdminPanel/EditProduct/@i.Id">Редактировать</a>
    </div>
        }

    </div>
</body>
</html>
