
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProduct</title>
</head>
<body>
    <div class="block">
        <span>Категория:</span><span>@ViewBag.Product.Category.Name</span><br />
        <span>Имя:</span><span>@ViewBag.Product.Name</span><br />
        <span>Цена:</span><span>@ViewBag.Product.Price</span><br />
        <span>Производитель:</span><span>@ViewBag.Product.Producer.Name</span><br />
        <span>Описание:</span><span>@ViewBag.Product.Description</span><br />



    </div>
</body>
</html>
