
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditProduct</title>
</head>
<body>
    <div>
        <form action="~/AdminPanel/EditProduct" method="post">
            <input value="@ViewBag.Product.Name" placeholder="Название" name="Name" />
            <input value="@ViewBag.Product.Price" placeholder="Цена" name="Price" />
            <input value="@ViewBag.Product.Description" placeholder="Описание" name="Description" />
            <span>Производитель:</span>
            <select name="ProducerId">
                <option selected="selected" value="@ViewBag.Product.ProducerId">@ViewBag.Product.Producer.Name</option>
                @foreach (var i in ViewBag.Producers)
                {
                    if (i.Id != ViewBag.Product.ProducerId)
                    {
                    <option value="@i.Id">@i.Name</option>
                        }
                    }
            </select>
            <span>Категория:</span>
            <select name="CategoryId">
                <option selected="selected" value="@ViewBag.Product.CategoryId">@ViewBag.Product.Category.Name</option>
                @foreach (var i in ViewBag.Categories)
                {
                    if (i.Id != ViewBag.Product.CategoryId)
                    {
                    <option value="@i.Id">@i.Name</option>
                    }
                }
            </select>
            <input hidden type="Number" name="Id" value="@ViewBag.Product.Id" />
            <button type="submit">Редактировать!</button>
        </form>
    </div>
</body>
</html>
